<ion-content>
    <div class="image-container">
        <!--<img [src]="image" class="image">-->
    </div>
    <div class="content-container">
        <div *ngIf="(view | async) == '[Setup] Start'">
            <h1>Setup your flex fuel kit</h1>
            <p>Start your car and make the sure the green light is blinking on the D box.</p>
            <p>Wait for your phone to connect to your infotainment system (if you use Bluetooth).</p>
            ­­<p>When you're ready, tap Connect.</p>
        </div>
        <div *ngIf="(view | async) == '[Setup] Connect'">
            <h1>Connecting...</h1>
            <p>Trying to communicate with your flex fuel kit.</p>
        </div>
        <div *ngIf="(view | async) == '[Setup] Connect Success'">
            <h1>Grabbing info...</h1>
            <p>Pulling up some details from your flex fuel kit.</p>
            <p>Hold tight and it'll be ready soon.</p>
        </div>
        <div *ngIf="(view | async) == '[Setup] Details Success'">
            <h1>{{ _device.vehicle.make }} {{ _device.vehicle.model }}</h1>
            <p>Looks like you've got the {{ _device.vehicle.mark }} kit!</p>
        </div>
        <div *ngIf="(view | async) == '[Setup] Connect Fail' || (view | async) == '[Setup] Details Fail'">
            <h1>Connection Error</h1>
            <p>There's a problem communicating with your flex fuel kit.</p>
            <p>Turn off your car and wait for 30 seconds. Turn it back on and tap Retry.</p>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons start>
            <button right *ngIf="(view | async) == '[Setup] Connect'" (click)="cancel()">CANCEL</button>
            <button right *ngIf="(view | async) == '[Setup] Connect Success'" (click)="cancel()">CANCEL</button>
            <button right *ngIf="(view | async) == '[Setup] Connect Fail'" (click)="cancel()">CANCEL</button>
        </ion-buttons>
        <ion-buttons end>
            <button right *ngIf="(view | async) == '[Setup] Start'" (click)="connect()">CONNECT</button>
            <button right *ngIf="(view | async) == '[Setup] Connect Fail'" (click)="connect()">RETRY</button>
            <button right *ngIf="(view | async) == '[Setup] Details Success'" (click)="done()">DONE</button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>