<ion-content>
    <div style="width:100%;height:40%;background-color:#626262;padding:25px">
        <div style="width:75%;height:80%;border-radius:15px;border:4px solid #000000;background-color:#424242;margin-left:auto;margin-right:auto;">
        </div>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col width-50 *ngIf="(data.ethanol | async)">
                <h2>{{ (data.ethanol | async) }}</h2>
            </ion-col>
            <ion-col width-50 *ngIf="(data.fuelPressure | async)">
                <h2>{{ (data.fuelPressure | async) }}</h2>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>    
    <ion-title *ngIf="(connecting | async)">Connecting</ion-title>
    <ion-title *ngIf="(connected | async)">Connected</ion-title>
    <ion-title *ngIf="(!(connected | async) && (!connecting) | async))">Disconnected</ion-title>
    <ion-title *ngIf="(error | async)">Connection Error</ion-title>
  </ion-toolbar>
</ion-footer>