<ion-header>
  <ion-navbar>
    <ion-title>
      Ethanol Content Analyzer
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <md-card *ngFor="let device of dtService.setupDevices">
    <md-card-title-group>
      <img md-card-lg-image src="{{ device.image }}">
      <md-card-title>{{ device.vehicle }}</md-card-title>
      <md-card-subtitle>({{ device.name }})</md-card-subtitle>
    </md-card-title-group>
    <md-card-content>
      <p *ngIf="dtService.ethanol">Ethanol: {{ dtService.ethanol }}</p>
      <p *ngIf="dtService.fuelPressure">Fuel Pressure: {{ dtService.fuelPressure }}</p>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)="dtService.connectDevice(device)">Connect</button>
      <button md-button (click)="dtService.removeDevice(device)">Remove</button>
    </md-card-actions>
  </md-card>
  <h4>Other devices</h4>
  <md-card *ngFor="let device of dtService.pairedDevices">
    <md-card-title-group>
      <img md-card-sm-image src="assets/dt.png">
      <md-card-title>{{ device.name }}</md-card-title>
      <md-card-subtitle>{{ device.id }}</md-card-subtitle>
    </md-card-title-group>
    <md-card-actions>
      <button md-button (click)="setupDevice(device)">Setup</button>
      <button md-button>Dismiss</button>
    </md-card-actions>
  </md-card>
</ion-content>